<div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['/personas']">Personas</a>
    </li>
  </ul>
  <h1>Personas</h1>
  @if (personas) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>IdPersona</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      @for (persona of personas; track persona) {
      <tr>
        <td>{{ persona.IdPersona }}</td>
        <td>{{ persona.Nombre }}</td>
        <td>{{ persona.Email }}</td>
        <td>{{ persona.Edad }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
